@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

*,
*:hover,
*:active,
*:focus {
    outline: none;
}

.btn:focus,
.btn:active {
    box-shadow: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #707070;
    font-weight: 400;
    font-size: 1em;
}

h2 {
    font-size: 4.17vw;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.45;
    color: #FDBF17;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

p {
    font-size: 18px;
    line-height: 40px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #707070;
}

.text-bold {
    font-weight: 700;
}

.text-semibold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

.text-light {
    font-weight: 500;
}

.text-subheading {
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    line-height: 32px;
}

.text-content {
    width: 60%;
    margin: auto;
}

.image-block {
    width: 60%;
    max-height: 80%;
    margin: auto;
}

.home-banner .image-block {
    margin-top: 10px !important;
    width: 35%;
    margin: auto;
}

.menu-divider {
    margin: auto;
    height: 300px;
    width: auto;
}

.svg-btn {
    width: 120px;
}

.svg-btn .text-semibold {
    font-size: 14px;
}

.svg-btn .color-1 {
    stop-color: #BE3084;
}

.svg-btn .color-2 {
    stop-color: #FDBF17;
}

.svg-btn:hover .color-1 {
    animation: change-color1 1s ease-in-out infinite alternate;
}

@keyframes change-color1 {
    0% {
        stop-color: #BE3084;
    }
    100% {
        stop-color: rgb(141, 7, 85);
    }
}

.svg-btn:hover .color-2 {
    animation: change-color2 1s ease-in-out infinite alternate;
}

@keyframes change-color2 {
    0% {
        stop-color: #FDBF17;
    }
    100% {
        stop-color: rgb(255, 115, 1);
    }
}


/*Sections*/

.panel {
    padding: 0;
}

.section {
    width: 100%;
    height: 100vh;
}


/*end Sections*/

.mail::before {
    content: url(../images/Zinios-Email.svg);
    display: inline-block;
    width: 16px;
    height: auto;
    margin-right: 5px;
}

.tel::before {
    content: url(../images/Zinios-Call.svg);
    display: inline-block;
    width: 16px;
    height: auto;
    margin-right: 5px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu li {
    padding: 10px 0px;
}

ul.menu li a {
    font-size: 24px !important;
    font-weight: 700 !important;
    transition: .6s;
}

ul.menu li a:hover {
    background: -webkit-linear-gradient(#ffe133, #be3084);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-nav {
    position: absolute;
    z-index: 9;
}

.slider-nav span {
    display: inline-block !important;
    background-color: transparent;
    width: 4.375rem !important;
    height: 3.125rem !important;
    margin: 0 10px;
}

.slider-nav span:hover {
    cursor: pointer;
}

.slider-nav span.prev-btn {
    background-image: url("../images/prev.svg");
    background-repeat: no-repeat;
}

.slider-nav span.next-btn {
    background-image: url("../images/next.svg");
    background-repeat: no-repeat;
}

.slider-nav span.prev-btn:hover {
    background-image: url("../images/prev_hover.svg");
    background-repeat: no-repeat;
}

.slider-nav span.next-btn:hover {
    background-image: url("../images/next_hover.svg");
    background-repeat: no-repeat;
}

#home-banner-nav.slider-nav {
    bottom: 10%;
    right: 10%;
    outline: none;
    width: 370px;
}

#home-banner-nav .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

#home-banner-nav .slick-dots li {
    margin: 0 0.5rem 0 0;
}

#home-banner-nav .slick-dots li:last-of-type {
    margin: 0;
}

#home-banner-nav .slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: 1px solid #ffffff;
    border-radius: 100%;
    background-color: transparent;
    text-indent: -9999px;
    outline: none;
}

#home-banner-nav .slick-dots li.slick-active button {
    background-color: #ffffff;
}

#case-study-nav.slider-nav {
    position: inherit;
    top: 0;
    right: 0;
}

.button-light {
    display: inline-block;
    border: 1px solid #FDBF17;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    font-size: 14px;
    line-height: 1;
}

.footer {
    margin-top: -90px;
}


/* Hamburger */

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
    z-index: 2;
}

.animated-hamburger {
    display: inline-block;
    width: 36px;
    height: 39px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: #FFF;
}

.animated-hamburger span:nth-child(1) {
    /* background: url(../images/ham_b.svg) no-repeat top left; */
    top: 0px;
}

.animated-hamburger span:nth-child(2) {
    /* background: url(../images/ham_a.svg) no-repeat top left; */
    top: 12px;
    width: 70%;
}

.animated-hamburger span:nth-child(3) {
    /* background: url(../images/ham_b.svg) no-repeat top left; */
    top: 24px;
}

[aria-expanded="true"] .animated-hamburger span {
    background: #ccc;
}

.animated-hamburger.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-hamburger.open span:nth-child(2) {
    opacity: 0;
}

.animated-hamburger.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.animated-hamburger.open {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


/*End Hamburger*/


/*Navigation Bar*/

.navbar-collapse-content {
    background-color: #fff;
    background-image: url("../images/Zinios-Menu-Bg.svg");
    background-position: center;
    /*Positioning*/
    background-repeat: no-repeat;
    /*Prevent showing multiple background images*/
    z-index: 1;
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100%;
    /* padding-top: 100px; */
    display: flex;
    background-size: 400px;
    transition: .5s;
    overflow: hidden;
}

.navbar-collapse-content.collapse:not(.show) {
    display: initial;
    height: 0 !important;
}

.pl_10_per {
    padding-left: 5%;
}

.navbar-section {
    padding: 0px !important;
}

.logo {
    width: 150px;
    height: auto;
    padding: 10px;
    z-index: 2;
    /* margin: 20px 0; */
}

.modal.fade:not(.in).right .modal-dialog {
    transform: translate3d(25%, 0, 0);
    -webkit-transform: translate3d(25%, 0, 0);
    -moz-transform: translate3d(25%, 0, 0);
    -ms-transform: translate3d(25%, 0, 0);
    -o-transform: translate3d(25%, 0, 0);
}

.modal-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.custom-modal-content {
    padding-top: 50px;
    background-image: url(../images/contact_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 25%;
}

.custom-modal-footer {
    background-image: url(../images/contact_bottom_bg.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 15%;
}

.bg-rigth-middle {
    /* background-image: url(../images/bg_right.svg); */
    background-image: url(../images/Zinios-1-Home-BG.svg);
    background-repeat: no-repeat;
    background-position: 100% 54%;
    background-size: 20%;
    position: relative;
}

.bg-left-bottom {
    background-image: url(../images/bg_left.svg);
    background-repeat: no-repeat;
    background-position: 0 110%;
    background-size: 16%;
}

.img-button {
    background: url("../images/Button.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875em;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 0;
    border-radius: 0px;
}

span.pos-left-bottom {
    width: 16%;
    position: absolute;
    bottom: -13%;
    left: 0;
}

span.pos-left-bottom img {
    width: 100%;
}

section[data-section-name="contact-us"] {
    background-image: url(../images/Zinios-3-Home-BG.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}

a.img-button {
    line-height: 2.75rem;
    color: white;
}

.img-button:focus {
    outline: none !important;
    box-shadow: none;
}

.case-study .case-study-block {
    width: 100%;
    margin: auto;
    /* max-width: 290px; */
    padding: 0px 5px;
}

.case-study .case-study-block>img {
    width: 100%;
}

.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    height: 80%;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    background-color: transparent;
    background-image: url("../images/casestudy-hover-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.hovereffect h2 {
    color: #707070;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect p.icon-links a.img-button {
    position: relative;
    width: 6rem;
    height: 3rem;
    font-size: 14px;
    line-height: 2.3;
}


/* .hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {} */

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.hovereffect .bottom-content {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

.hovereffect .top-content {
    position: absolute;
    top: 20%;
    right: 0;
    width: 45%;
}

.hovereffect .top-content img {
    margin: auto;
}

@supports (-webkit-appearance:none) {
    .h-100 {
        height: 100vh !important;
    }
}


/* svg animation */

.home-banner .slick-track {
    height: 100vh;
}

.hide {
    display: none;
}

.baner-content {
    position: absolute;
    right: 10%;
    top: 50%;
    color: #FFF;
    transform: translateY(-45%);
    font-weight: 100;
    z-index: 9;
    width: 370px;
}

.baner-content h1 {
    font-weight: 100;
}

.baner-content p {
    font-size: 15px;
    line-height: 2.2;
    margin: 20px 0 30px;
}

.baner-content a {
    background: #FFF;
    color: #000;
    padding: 12px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    z-index: 9;
    cursor: pointer;
}

.baner-content a:hover {
    background: transparent;
    color: #FFF;
}

.btn-1:before,
.btn-1:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #FFF;
}

.btn-1 span::before,
.btn-1 span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #FFF;
}

.btn-1:hover::before,
.btn-1:hover::after {
    width: 100%;
}

.btn-1:hover span::before,
.btn-1:hover span::after {
    height: 100%;
}


/*----- button 1 -----*/

.btn-1::before,
.btn-1::after {
    transition-delay: 0.2s;
}

.btn-1 span::before,
.btn-1 span::after {
    transition-delay: 0s;
}

.btn-1::before {
    right: 0;
    top: 0;
}

.btn-1::after {
    left: 0;
    bottom: 0;
}

.btn-1 span::before {
    left: 0;
    top: 0;
}

.btn-1 span::after {
    right: 0;
    bottom: 0;
}

.btn-1:hover::before,
.btn-1:hover::after {
    transition-delay: 0s;
}

.btn-1:hover span::before,
.btn-1:hover span::after {
    transition-delay: 0.2s;
}

.dummy-banner-vr,
.dummy-banner-ux,
.dummy-banner-eCom,
.dummy-banner-mobility,
.Perspective {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0;
}

.dummy-banner-vr {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#450251+0,142670+50,450251+100 */
    background: #450251;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #450251 0%, #142670 50%, #450251 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #450251 0%, #142670 50%, #450251 100%);
    /* chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #450251 0%, #142670 50%, #450251 100%);
    /* W3C, IE10+, FF16+, chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#450251', endColorstr='#450251', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.dummy-banner-eCom {
    background: #421188;
    /* Old browsers */
    background: -moz-linear-gradient(-150deg, #3213a3 9%, #421188 50%, #510f71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-150deg, #3213a3 9%, #421188 50%, #510f71 100%);
    /* chrome10-25,Safari5.1-6 */
    background: linear-gradient(-150deg, #3213a3 9%, #421188 50%, #510f71 100%);
    /* W3C, IE10+, FF16+, chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#249cb5', endColorstr='#9328ac', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.dummy-banner-ux {
    background: #34114d;
    /* Old browsers */
    background: -moz-linear-gradient(-150deg, #fb9c5b 9%, #bb3579 50%, #361c83 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-150deg, #fb9c5b 9%, #bb3579 50%, #361c83 100%);
    /* chrome10-25,Safari5.1-6 */
    background: linear-gradient(-150deg, #fb9c5b 9%, #bb3579 50%, #361c83 100%);
    /* W3C, IE10+, FF16+, chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fb9c5b', endColorstr='#361c83', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.dummy-banner-mobility {
    background: #249cb5;
    /* Old browsers */
    background: -moz-linear-gradient(-150deg, #249cb5 0%, #4e4eeb 50%, #9328ac 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-150deg, #249cb5 0%, #4e4eeb 50%, #9328ac 100%);
    /* chrome10-25,Safari5.1-6 */
    background: linear-gradient(-150deg, #249cb5 0%, #4e4eeb 50%, #9328ac 100%);
    /* W3C, IE10+, FF16+, chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#249cb5', endColorstr='#9328ac', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.ar-vr-image,
.ux-image,
.eCom-img {
    width: 28%;
    position: absolute;
    /* position: sticky; */
    bottom: 10%;
    left: 10%;
    z-index: 2;
}

.eCom-img {
    width: 35%;
    bottom: 25%;
    left: 8%;
}

.ux-anim svg {
    width: 100%;
}

.img-100 {
    width: 100%;
}

.mobiity {
    position: absolute;
    right: 0;
    width: 100%;
    top: 0%;
    z-index: 2;
}

.mobiity path {
    stroke-dasharray: 6;
    stroke-dashoffset: 6;
    animation: dash 10s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.vr-svg-anim {
    position: absolute;
    width: 40%;
    left: 8%;
    bottom: 45%;
    min-height: 200px;
    z-index: 3;
}

.vr-svg-anim svg {
    width: 100%;
}

.chrome .chrome_b,
.Opera .chrome_b {
    display: inline;
}

.chrome_b,
.chrome .vr_all,
.Opera .vr_all {
    display: none;
}

.vr_all {
    opacity: .5;
}

.vr_all path {
    fill: #FFF !important;
}

[id^="vr-mr-ar-"] {
    opacity: 0;
}

.slick-active #vr-mr-ar-1 {
    animation: ux-opacity 2s 1s linear 1 forwards;
}

.slick-active #vr-mr-ar-2 {
    animation: ux-opacity 2s 1.4s linear 1 forwards;
}

.slick-active #vr-mr-ar-3 {
    animation: ux-opacity 2s 1.6s linear 1 forwards;
}

.slick-active #vr-mr-ar-4 {
    animation: ux-opacity 2s 1.8s linear 1 forwards;
}

.slick-active #vr-mr-ar-5 {
    animation: ux-opacity 2s 2s linear 1 forwards;
}

.chrome .vr-graphic-1,
.Opera .vr-graphic-1 {
    /* motion-path: path('M295,259 C132.108321,259 0,201.143364 0,129.5 C0,57.8566365 132.108321,0 295,0 C457.891679,0 590,57.8566365 590,129.5 C590,201.143364 457.891679,259 295,259 Z'); */
    offset-path: path('M295,259 C132.108321,259 0,201.143364 0,129.5 C0,57.8566365 132.108321,0 295,0 C457.891679,0 590,57.8566365 590,129.5 C590,201.143364 457.891679,259 295,259 Z');
    offset-distance: 0%;
    animation: vr-move1 9s linear infinite;
}

.chrome .vr-graphic-2,
.Opera .vr-graphic-2 {
    offset-path: path('M295,259 C132.108321,259 0,201.143364 0,129.5 C0,57.8566365 132.108321,0 295,0 C457.891679,0 590,57.8566365 590,129.5 C590,201.143364 457.891679,259 295,259 Z');
    offset-distance: 24%;
    animation: vr-move2 9s linear infinite;
}

.chrome .vr-graphic-3,
.Opera .vr-graphic-3 {
    offset-path: path('M295,259 C132.108321,259 0,201.143364 0,129.5 C0,57.8566365 132.108321,0 295,0 C457.891679,0 590,57.8566365 590,129.5 C590,201.143364 457.891679,259 295,259 Z');
    offset-distance: 24%;
    animation: vr-move3 9s linear infinite;
}

.chrome .vr-graphic-4,
.Opera .vr-graphic-4 {
    offset-path: path('M295,259 C132.108321,259 0,201.143364 0,129.5 C0,57.8566365 132.108321,0 295,0 C457.891679,0 590,57.8566365 590,129.5 C590,201.143364 457.891679,259 295,259 Z');
    offset-distance: 24%;
    animation: vr-move4 9s linear infinite;
}

.chrome .vr-graphic-5,
.Opera .vr-graphic-5 {
    offset-path: path('M295,259 C132.108321,259 0,201.143364 0,129.5 C0,57.8566365 132.108321,0 295,0 C457.891679,0 590,57.8566365 590,129.5 C590,201.143364 457.891679,259 295,259 Z');
    offset-distance: 24%;
    animation: vr-move5 9s linear infinite;
}

.chrome .vr-graphic-6,
.Opera .vr-graphic-6 {
    offset-path: path('M295,259 C132.108321,259 0,201.143364 0,129.5 C0,57.8566365 132.108321,0 295,0 C457.891679,0 590,57.8566365 590,129.5 C590,201.143364 457.891679,259 295,259 Z');
    offset-distance: 24%;
    animation: vr-move6 9s linear infinite;
}

@keyframes vr-move1 {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
    }
}

@keyframes vr-move2 {
    0% {
        offset-distance: 17%;
    }
    83% {
        offset-distance: 100%;
    }
    100% {
        offset-distance: 117%;
    }
}

@keyframes vr-move3 {
    0% {
        offset-distance: 34%;
    }
    66% {
        offset-distance: 100%;
    }
    100% {
        offset-distance: 134%;
    }
}

@keyframes vr-move4 {
    0% {
        offset-distance: 51%;
    }
    49% {
        offset-distance: 100%;
    }
    100% {
        offset-distance: 151%;
    }
}

@keyframes vr-move5 {
    0% {
        offset-distance: 68%;
    }
    32% {
        offset-distance: 100%;
    }
    100% {
        offset-distance: 168%;
    }
}

@keyframes vr-move6 {
    0% {
        offset-distance: 85%;
    }
    15% {
        offset-distance: 100%;
    }
    100% {
        offset-distance: 185%;
    }
}


/***************************

Snow.  

***************************/


/* .snow, .snow:before, .snow:after {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: radial-gradient(5px 5px at 34px 172px, rgba(250, 68, 68, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 86px 25px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 388px 47px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 53px 303px, #ffffff 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 373px 475px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 196px 261px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 434px 424px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 234px 213px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 393px 356px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 537px 497px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 151px 362px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 110px 99px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 270px 111px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 351px 424px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0));
    background-size: 600px 600px;
    animation: snow 5s linear infinite;
    opacity: .1;
} */

.snow {
    background: none;
    z-index: 1;
    background-image: url('../images/banner-bg-1.svg'), url('../images/banner-bg-2.svg'), url('../images/banner-bg-3.svg');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    opacity: .5;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

#container {
    perspective: 50px;
    perspective: 50px;
    position: initial;
    bottom: 10%;
    left: 0;
    width: 100%;
    /* height: 100%; */
}

#floatingBox {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.ux-image {
    width: 39%;
}

.ux-anim {
    position: absolute;
    left: 15%;
    width: 70%;
    top: 5%;
}

.ux-anim [id^="ux-"],
[id^="eCom_"],
.click_btn,
.mobility_wrap {
    opacity: 0;
}

.slick-active #ux-1 {
    animation: ux-opacity 2s 1s linear 1 forwards;
}

.slick-active #ux-2 {
    animation: ux-opacity 2s 1.7s linear 1 forwards;
}

.slick-active #ux-3 {
    animation: ux-opacity 2s 1s linear 1 forwards;
}

.slick-active #ux-4 {
    animation: ux-opacity 2s 2s linear 1 forwards;
}

.slick-active #ux-5 {
    animation: ux-opacity 2s 2.3s linear 1 forwards;
}

.slick-active #ux-6 {
    animation: ux-opacity 2s 1.6s linear 1 forwards;
}

.slick-active #ux-7 {
    animation: ux-opacity 2s 1.3s linear 1 forwards;
}

.slick-active #ux-8 {
    animation: ux-opacity 2s 2.5s linear 1 forwards;
}

.slick-active #ux-9 {
    animation: ux-opacity 2s 2s linear 1 forwards;
}

.slick-active #ux-10 {
    animation: ux-opacity 2s 3s linear 1 forwards;
}

.slick-active #eCom_bg {
    animation: ux-opacity 2s 1s linear 1 forwards;
}

.slick-active #eCom_img {
    animation: ux-opacity 2s 1.4s linear 1 forwards;
}

.slick-active #eCom_btn {
    animation: ux-opacity 2s 1.8s linear 1 forwards;
}

.slick-active .mobility_wrap {
    animation: ux-opacity 2s 1s linear 1 forwards;
}

@keyframes ux-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.click_btn {
    position: absolute;
    bottom: 15%;
    right: 28%;
    background: #333;
    z-index: 2;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.slick-active .click_btn {
    animation: eCom_click 20s 4s linear infinite forwards;
}

@keyframes eCom_click {
    0% {
        right: 10%;
        opacity: 0;
        bottom: 13%;
    }
    1% {
        opacity: 1;
        width: 14px;
        height: 14px;
    }
    4% {
        right: 28%;
        opacity: 1;
        bottom: 15%;
        width: 14px;
        height: 14px;
    }
    4.7% {
        opacity: 1;
        right: 28%;
        bottom: 14.5%;
        width: 14px;
        height: 14px;
    }
    4.8% {
        opacity: 1;
        right: 28%;
        bottom: 15%;
    }
    7.5% {
        background: transparent;
        width: 20px;
        height: 20px;
        opacity: 0;
        right: 24%;
        bottom: 13.5%;
    }
    100% {
        background: transparent;
        width: 20px;
        height: 20px;
        opacity: 0;
        right: 24%;
        bottom: 10.5%;
    }
}

.slick-active #eCom_btn_1 {
    animation: eCom_btn 20s 4s linear infinite forwards;
}

@keyframes eCom_btn {
    0% {
        fill: #FFFFFF;
        opacity: 1;
    }
    1.5%,
    3.8%,
    4.2% {
        fill: rgb(194, 2, 184);
        opacity: 1;
    }
    4% {
        fill: rgb(11, 2, 141);
        opacity: 1;
    }
    8% {
        fill: #FFFFFF;
        opacity: 1;
    }
}

.slick-active #eCom_cart {
    animation: eCom_cart 20s 5.2s linear infinite forwards;
}

@keyframes eCom_cart {
    0%,
    5.5% {
        opacity: 0;
    }
    6%,
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#circle_move_anim {
    display: none;
}

.chrome .slick-active #circle_move_anim,
.opera .slick-active #circle_move_anim {
    offset-path: path('M74.708996,212.111552 C201.893474,137.468203 323.627788,100.2284017 420.91194,69.3921475');
    offset-distance: 0%;
    animation: circle_move 20s 3.5s linear infinite;
    opacity: 0;
    display: inline;
}

.chrome #circle_move,
.opera #circle_move @keyframes circle_move {
    0%,
    10% {
        offset-distance: 0%;
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    15% {
        offset-distance: 90%;
        opacity: 1;
    }
    16%,
    100% {
        opacity: 0;
    }
}

#circle_move {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 2;
    background: #ff2c00;
    bottom: 40%;
    left: 20%;
}

.slick-active #circle_move {
    animation: circle_move_moz 20s 3.5s linear infinite;
    opacity: 0;
}

@keyframes circle_move_moz {
    0%,
    10% {
        opacity: 0;
        bottom: 40%;
        left: 20%;
    }
    11% {
        opacity: 1;
    }
    14% {
        bottom: 72%;
        left: 87%;
        opacity: 1;
    }
    14.2%,
    100% {
        opacity: 0;
    }
}

.slick-active #eCom_circle {
    animation: eCom_circle 20s 5s linear infinite;
}

.slick-active #eCome_number {
    animation: eCom_circle 20s 5.5s linear infinite;
}

@keyframes eCom_circle {
    0%,
    7% {
        opacity: 0;
    }
    8%,
    100% {
        opacity: 1;
    }
}

.fb_loading {
    position: absolute;
    width: 35%;
    height: 27%;
    right: 10.2%;
    bottom: 30%;
    z-index: 4;
    background: #f6f7f8;
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #ec9201 33%);
}

.slick-active #eCom_details {
    animation: ux-opacity 2s 2.2s linear 1 forwards;
}

#eCom_details .fill_orange {
    /* fill: url(#MyGradient) !important; */
    animation: fb_loading 3s 0s linear forwards infinite !important;
}

@keyframes fb_loading {
    0% {
        fill: url(#MyGradient);
    }
    10% {
        fill: url(#MyGradient1);
    }
    20% {
        fill: url(#MyGradient2);
    }
    30% {
        fill: url(#MyGradient3);
    }
    40% {
        fill: url(#MyGradient4);
    }
}

@keyframes fb_loading_1 {
    0% {
        fill: url(#MyGradient_white);
    }
    10% {
        fill: url(#MyGradient_white1);
    }
    20% {
        fill: url(#MyGradient_white2);
    }
    30% {
        fill: url(#MyGradient_white3);
    }
    40%,
    100% {
        fill: url(#MyGradient_white4);
    }
}

#eCom_details .fill_white {
    /* fill: url(#MyGradient_white) !important; */
    animation: fb_loading_1 3s 0s linear forwards infinite !important;
}

@supports (-moz-appearance:meterbar) {
    /* #circle_move{
    display: none;
  } */
}


/* .safari #circle_move{
  display: none !important;
} */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


/* @media (min-width: 1281px) {
    //CSS
} */


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */


/* @media (min-width: 1025px) and (max-width: 1280px) {} */


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .text-content {
        width: 90%;
        margin: auto;
    }
    .image-block {
        width: 40%;
    }
    .section {
        width: 100%;
        /* height: auto; */
    }
    .slider-nav,
    #home-banner-nav.slider-nav {
        position: inherit;
        margin: 30px auto;
        top: 0;
        right: 0;
    }
    .panel {
        padding: 120px 0 80px;
    }
    .bg-rigth-middle {
        background-size: 30%;
    }
    span.pos-left-bottom {
        width: 24%;
        bottom: -10%;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .text-content {
        width: 80%;
        margin: auto;
    }
    .image-block {
        width: 80%;
    }
    .section {
        width: 100%;
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 992px) {
    .h-100 .col-sm-12.col-md-12 {
        width: 50%;
        max-width: 50%;
    }
}

@media (max-width: 799px) {
    .image-block {
        margin-bottom: 30px;
    }
    .h-100 {
        height: 100% !important;
    }
}


/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .text-content {
        width: 90%;
        margin: auto;
    }
    .image-block {
        width: 30%;
    }
    .section {
        width: 100%;
        height: auto;
    }
    .slider-nav,
    #home-banner-nav.slider-nav {
        position: inherit;
        margin: 30px auto;
        top: 0;
        right: 0;
    }
    .panel {
        padding: 80px 0;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (max-width: 767px) {
    .logo {
        margin: 0;
        padding: 10px 0;
        width: 100px;
    }
    .footer {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .navbar {
        background: #FFF;
    }
    .slider-nav span {
        background-size: 40px;
        width: 40px !important;
        height: 30px !important;
    }
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
        line-height: 30px;
    }
    p br {
        display: none;
    }
    .text-content {
        width: 90%;
        margin: auto;
    }
    .image-block {
        width: 60%;
    }
    .home-banner .image-block {
        margin-top: 10px !important;
        width: 60%;
        margin: auto;
    }
    .section {
        width: 100%;
        height: auto;
    }
    .slider-nav,
    #home-banner-nav.slider-nav {
        position: inherit;
        margin: 30px auto;
        top: 0;
        right: 0;
    }
    .panel {
        padding: 80px 0 0 0;
    }
    .logo {
        width: 42px;
        overflow: hidden;
    }
    .logo img {
        width: 100px;
        max-width: 100px;
        ;
    }
    .animated-hamburger {
        width: 24px;
        height: 30px;
    }
    .animated-hamburger span {
        height: 9px;
    }
    .animated-hamburger span:nth-child(2) {
        top: 10px;
    }
    .animated-hamburger span:nth-child(3) {
        top: 20px;
    }
}